.bg-img-nav-n-head {
    height: 100vh;
    background-image: url("../img/bg-nav-head.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}